/* globalMonitro.css */

@import url(globalMonitro.css);

.modalDashHistoricos {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.ModalHistoricos {
  position: absolute;
  border-radius: 15px;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  padding: 20px;
  font-family: "poppins";
}

.containerHistoricos {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.tituloModal {
  width: 100%;
  display: flex;
}

.nomeMonitro {
  width: 80%;
  display: flex;
  align-items: center;
  font-family: "baloo 2";
  font-size: 2rem;
  color: var(--azul);
}

.nomeMonitro > img {
  width: 50px;
  margin-right: 10px;
}

.botaoFechar {
  display: flex;
  justify-content: flex-end;
  width: 280px;
}

.botaoFechar > svg {
  width: 25px;
  cursor: pointer;
}

.HistoricosServidorEmpresa {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.cardMetricas,
.descricoesRegistros {
  width: 100%;
  height: 535px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #4f5f733a;
}

.cardMetricas {
  width: 450px;
}

.descricoesRegistros {
  width: 750px;
}

.outrosDetalhes {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.detalhes {
  width: 1220px;
  height: 265px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #4f5f733a;
}
.secaoHistoricos{
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

}



.cardMetricas {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.cardMetricas > h4 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
.parametro > span {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
  
}
.parametro > span > p{
  margin-right: 30px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 2rem;

}

.parametro > input {
  width: 50px;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  border-bottom: 2px solid var(--azul-dark-mode);
}
.titulosParametros {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30%;
  padding-right: 8%;
  
}
.titulosParametros  > p{
  margin-left: 35px;
  font-weight: bold;
  font-size: 1.1rem;
}
.botaoSalvarParametros{
  display: flex;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  color: #f2f2f2;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: var(--azul);
  margin-top: 30px;
  cursor: pointer;
  margin-top: 100px;
}
.parametro {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 15px;
}
.tipoComponenteParametro > span {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}
.MetricaComponenteParametro > p {
  color: rgba(0, 0, 0, 0.516);
  font-weight: bold;
}
.tipoComponenteParametro {
  width: 40%;
  display: flex;
  justify-content: left;
}
.MetricaComponenteParametro {
  width: 10%;
  display: flex;
  justify-content: center;
  margin-right: 5px;
  font-size: 1.2rem
}