/* Importação de fontes */
@import url(globalMonitro.css);

/* Estilos para a classe .dashboardGeral */
.dashboardGeral {
    display: none;
    font-family: "poppins";
    color: var(--branco-light-mode);
    height: 625px;
}

/* Estilos para a parte esquerda do dashboardGeral */
.dashboardGeralLeft {
    display: flex;
    width: 70%;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.dashboardGeralLeft > span {
    font-size: 1.5rem;
    margin-left: 50px;
    font-weight: bold;
    color: var(--azul);
}

.maquinasCadastradas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    width: 800px;
    max-height: 590px;
}

/* Estilos para a referência da máquina */
.referenciaMaquina {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
   
    color: var(--azul-dark-mode);
    margin-top: 20px;
}

.referenciaMaquina > span {
    font-size: 1.3rem;
    color: var(--branco-light-mode);
}

/* Estilos para o card da máquina */
.cardMaquina {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 280px;
    background-color: var(--branco-light-mode);
    border-radius: 15px;
    margin-top: 20px;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.cardMaquina > span {
    display: flex;
    width: 95%;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
}
.cardMaquina > span > svg {
    height: 30px;
    color: var(--azul-dark-mode);
}

.descricaoMaquina {
    width: 100%;

}
.descricaoMaquina > span {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 15px;
    margin-left: 5%;
    font-weight: bold;
}
.descricaoMaquina > span > p {
    color: var(--azul-dark-mode);
}   

.descricaoMaquina > span > h4{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: left;
    
}
.descricaoMaquina > span > h4 > svg{
    margin-left: 20px;
    margin-right: 10px;
    height: 25px;
}

.descricaoMaquina > span > p > svg{
    height: 25px;
}

p {
    display: flex;
    align-items: center;
}

p > svg {
    margin-right: 20px;
}

/* Estilos para a parte direita do dashboardGeral */
.dashboardGeralRight {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin-left: 3%;
}

.dashboardGeralRight > span {
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: bold;
}

/* Estilos para o card de alertas */
.cardAlertas {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 380px;
    background-color: var(--branco-light-mode);
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
}

.niveisAlerta {
    display: flex;
    color: var(--azul-dark-mode);
    flex-direction: column;
    font-weight: bold;
    font-size: 1.2rem;
    width: 90%;
}

.niveisAlerta > p {
    margin-top: 30px;
    font-size: 15px;
    display: flex;
    gap: 10px;
    width: 90%;
}

.niveisAlerta > p > svg {
    height: 25px;
}
/* Estilos para barras de rolagem */
* {
    scrollbar-width: auto;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--azul);
    border-radius: 10px;
}
p:hover .svg1 {
    color: var(--azul);
}


/* slack */
.slackDashboard{
    display: flex;
    margin-top: 20px;
    margin-right: -120px;
}
