/* globalMonitro.css */

@import url(globalMonitro.css);

.modalDashDetalhes {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.ModalDetalhes {
  position: absolute;
  border-radius: 15px;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  padding: 20px;
  font-family: "poppins";
}

.containerDetalhes {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.tituloModal {
  width: 100%;
  display: flex;
}

.nomeMonitro {
  width: 80%;
  display: flex;
  align-items: center;
  font-family: "baloo 2";
  font-size: 2rem;
  color: var(--azul);
}

.nomeMonitro > img {
  width: 50px;
  margin-right: 10px;
}

.botaoFechar {
  display: flex;
  justify-content: flex-end;
  width: 280px;
}

.botaoFechar > svg {
  width: 25px;
  cursor: pointer;
}

.detalhesServidorEmpresa {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.descricoesLocalizacao,
.descricoesRegistros {
  width: 100%;
  height: 535px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #4f5f733a;
}

.descricoesLocalizacao {
  width: 450px;
}

.descricoesRegistros {
  width: 750px;
}

.outrosDetalhes {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.detalhes {
  width: 1220px;
  height: 265px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #4f5f733a;
}


.secaoInformacoes{
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

}

.descricoesLocalizacao {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.descricoesLocalizacao > h3 {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 30px;
}
.descricoesLocalizacao > span {
  display: flex;
  justify-content: left;
  margin-left: 10px;
  width: 90%;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 20px;
  
}
.descricoesLocalizacao > span > p{
  color: rgba(0, 0, 0, 0.516);
  font-size: 1.2rem;
}
.descricoesRegistros{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  
}
.descricoesRegistros> h3 {
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.descricoesRegistros> span > p{
  color: rgba(0, 0, 0, 0.516);
  font-size: 1.2rem;
}
.componentesEsquerda {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 80%;
}
.componentesDireita {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 80%;
}
.descricaoCompSO > span ,
.descricaoCompArmazenamento > span ,
.descricaoCompCPU > span ,
.descricaoCompRAM > span {
  display: flex;
  justify-content: left;
  width: 90%;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1rem; 
  margin-right: 20px;
  margin-left: 20px;
}
.descricaoCompSO > span > p,
.descricaoCompArmazenamento > span > p,
.descricaoCompCPU > span > p,
.descricaoCompRAM > span > p{
  color: rgba(0, 0, 0, 0.516);
  font-size: 1rem;
}
.descricaoCompSO,
.descricaoCompArmazenamento,
.descricaoCompCPU,
.descricaoCompRAM{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.descricaoCompSO > h4,
.descricaoCompArmazenamento > h4,
.descricaoCompCPU > h4,
.descricaoCompRAM > h4 {
  margin-bottom: 10px;
}
.descricaoCompRAM {
  margin-top: 50px;
}

.descricaoCompArmazenamento  {
  margin-top: 100px;
}
.descricoesUltimosRegistros {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 535px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #4f5f733a;
}
.containerUltimosRegistros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  
}
.ladoEsquerdoCard {
  display: flex;
  width: 45%;
  height: 50%;
  flex-direction: column;
}
.ladoDireitoCard {
  display: flex;
  width: 45%;
  height: 50%;
  flex-direction: column;
}
.descricoesUltimosRegistros > span {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 15px;
}
.CpuRegistros, 
.RamRegistros, 
.DiscoRegistros,
.RedeRegistros{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
}
.CpuRegistros> span, 
.RamRegistros> span, 
.DiscoRegistros> span,
.RedeRegistros > span{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5px;
  justify-content: space-between;
  font-weight: bold;
}
span > p {
  color: rgba(0, 0, 0, 0.516);
  font-size: 1rem;
}