/* Importação de fontes */
@import url(globalMonitro.css);

/* Estilos para o container de geolocalização */
.containerGeolocalizacao {
    display: flex;
    font-family: "poppins";
    color: var(--branco-light-mode);
}

/* Estilos para a parte esquerda da geolocalização */
.GeolocalizacaoLeft {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.GeolocalizacaoLeft > span {
    font-size: 1.3rem;
    margin-top: 30px;
    font-weight: bold;
}

.mapaDinamico {
    width: 430px;
    height: 450px;
    border-radius: 15px;
    background-color: var(--branco-light-mode);
    margin-top: 30px;
}


.legendaGeolocalizacao {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 1.3rem;
}

/* Estilos para a parte direita da geolocalização */
.GeolocalizacaoRight {
    width: 50%;
    height: 500px;
    align-items: center;
    overflow: auto;
    flex-direction: column;
    padding-top: 90px
}

.GeolocalizacaoRight > span {
    font-size: 1.3rem;
    margin-top: 10px;
    font-weight: bold;
    width: 75%;
    display: flex;
    justify-content: right;
}

.graficoAlertas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 450px;
    border-radius: 15px;
    background-color: var(--branco-light-mode);
    margin-top: 30px;
    margin-top: 10px;
}


.legendaEstadosMonitorados {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.statusEstado > p {
    font-size: 1.2rem;
}

.statusEstado {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.legendaMapas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

/* Estilos para os ícones de status */
.icon-e-status {
    display: flex;
    gap: 5px;
    margin-right: 20px;
}

